.jumbotron {
    width: auto;
    height: 400px;
    background: url(./../resources/image.jpg);
    background-size: cover;
    
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.navbar-collapse.collapse.in {
    display: block!important;
  }